.color-palette{
    display: flex;
    flex-direction: column;
    height: 7rem;
    gap: 1rem;
}

.color-palette-box{
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
}

.color-palette-text{
    font-size: 1.4rem;
    opacity: 0.9;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.color{
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    outline: 4px solid rgba(128, 128, 128, 0);
    transition: outline-color 0.3s;
    
}

.color.active{
    outline: 4px solid rgba(128, 128, 128, 0.493);
}